<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Cadastro</h1>

    <!-- ERRO ESTILIZADO -->
    {% if error %}
    <div class="error-toast">
        ⚠️ {{ error }}
    </div>
    {% endif %}

    <form method="POST">

        <input type="text" name="name" placeholder="Nome" required>

        <input type="email" name="email" placeholder="Email" required>

        <input type="password" name="password" placeholder="Senha" required>

        <button type="submit">Cadastrar</button>

    </form>

    <div class="botoes">
        <p>Já tem conta?</p>
        <a href="/login">
            <button type="button">Ir para Login</button>
        </a>
    </div>

</div>

</body>
</html>