<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    {% if error %}
<div style="
    background: #ffdddd;
    color: #a10000;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #ff5c5c;
    font-weight: bold;
">
    {{ error }}
</div>
{% endif %}

<div class="container">

    <form method="POST">

        <h1>Cadastro</h1>

        <input type="text" name="name" placeholder="Nome" required>
        
        <input type="email" name="email" placeholder="Email" required>

        <input type="password" name="password" placeholder="Senha" required>

        <button type="submit">Cadastrar</button>

    </form>

</div>

</body>
</html>